* {
  margin: 0;
  padding: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.jcsb {
  justify-content: space-between;
}

.jcse {
  justify-content: space-evenly;
}

.w50 {
  width: 50%;
}

.header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}

.trybewarts-header-logo {
  height: inherit;
}

.trybewarts-login {
  display: flex;
  box-sizing: border-box;
  height: 20px;
}

#email , #senha {
  width: 150px;
}

#main {
  display: flex;
  justify-content: space-evenly;
  background: #EFEFEF;
}

#trybewarts-forms-logo {
  height: 500px;
}

#evaluation-form {
  margin-top: 20px;
  display: flex;
  width: 675px;
  flex-direction: column;
}

.div-family {
  display: flex;
  flex-direction: column;
}
